<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>559078629597-9vmvnej02g44vbqfv9f8d9jsdl4ookm0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.559078629597-9vmvnej02g44vbqfv9f8d9jsdl4ookm0</string>
	<key>API_KEY</key>
	<string>AIzaSyBimg8az6MS-WmiDgNPgIAUbYChn4GsjeY</string>
	<key>GCM_SENDER_ID</key>
	<string>559078629597</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>menor.com.schoolapp</string>
	<key>PROJECT_ID</key>
	<string>schoolapp-a7a3c</string>
	<key>STORAGE_BUCKET</key>
	<string>schoolapp-a7a3c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:559078629597:ios:04dcc39a116120cfb13b34</string>
</dict>
</plist>